%section.landing
  .inside-landing.container
    %h1{style: "color:white; padding-bottom:40px; font-size:70px"} A New Way To Explore
    %h2{style: "color:white; padding-left: 470px; font-size:60px"} Meet A Local
    %form.form-inline{style: "align:center; padding-top:60px", role: "form"}
      %input#inputTour{style: "width:500px", type: "text", onfocus:"this.value=''", value:"Boston, MA"}/
      %button.btn.btn-primary{style: "width:80px", type: "submit"}
        %i.icon-search.icon-white

.container
  %table
    %tr
      %th Name
      %th User
      %th Loc name
      %th Loc lat
      %th Loc lon
      %th Prize
      %th Start time
      %th End time
      %th
      %th
      %th

    - @tours.each do |tour|
      %tr
        %td= tour.name
        %td= tour.user_id
        %td= tour.loc_name
        %td= tour.loc_lat
        %td= tour.loc_lon
        %td= tour.prize
        %td= tour.start_time
        %td= tour.end_time
        %td= link_to 'Show', tour
        %td= link_to 'Edit', edit_tour_path(tour)
        %td= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  .btn-group
    = link_to 'Create A New Tour', new_tour_path, :class => 'btn'