.container
  %h1{style: "text-align:center"} PLACE HOLDER FOR SEARCH ICON. LIKE A GOOGLE ICON.
  %form.form-inline{style: "text-align:center;", role: "form"}
    %input#inputTour{style: "width:600px", type: "text"}/
  %table
    %tr
      %th Name
      %th User
      %th Loc name
      %th Loc lat
      %th Loc lon
      %th Prize
      %th Start time
      %th End time
      %th
      %th
      %th

    - @tours.each do |tour|
      %tr
        %td= tour.name
        %td= tour.user_id
        %td= tour.loc_name
        %td= tour.loc_lat
        %td= tour.loc_lon
        %td= tour.prize
        %td= tour.start_time
        %td= tour.end_time
        %td= link_to 'Show', tour
        %td= link_to 'Edit', edit_tour_path(tour)
        %td= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  .btn-group
    = link_to 'Create A New Tour', new_tour_path, :class => 'btn'