.container
  %p#notice= notice

  .row-fluid
    .span7
      %img{src: "http://placekitten.com/670/414"}/
      %h2 
        = @tour.name
    .span5
      = @tour.loc_name
      %p
        %b Tour guide:
        = "#{@tour.user.first_name} #{@tour.user.last_name}"
      %p
        %b Loc name:
        = @tour.loc_name
      %p
        %b Price:
        = @tour.prize

    %table
      %tr
        %th=  "Scheduled time"
        %th=  "Total bookings"
        %th=  "Actions"

      - @scheduled_tours.each do |scheduled_tour|
        %tr
          %td= "#{scheduled_tour.start_time.to_time.strftime('%b %e, %l:%M %p')} - #{scheduled_tour.end_time.to_time.strftime('%b %e, %l:%M %p')}"
          %td= total_booking(scheduled_tour.bookings)
          %td= link_to 'Book This Tour', new_booking_path(scheduled_tour.id), :class => 'btn btn-success'
    %p
      = link_to 'Schedule Time', new_scheduled_tour_path(@tour.id), :class => 'btn btn-primary'
  %p
    = @tour.description 
    %br


