%h1 Listing venues

%table
  %tr
    %th Tour
    %th Name
    %th Lat
    %th Lon
    %th Image url
    %th
    %th
    %th

  - @venues.each do |venue|
    %tr
      %td= venue.tour_id
      %td= venue.name
      %td= venue.lat
      %td= venue.lon
      %td= venue.image_url
      %td= link_to 'Show', venue
      %td= link_to 'Edit', edit_venue_path(venue)
      %td= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Venue', new_venue_path
